.firstDiv {
    color: blue;
}

.secondDiv {
    color: red;
}

#singledout {
    color: green;
    text-decoration: line-through;
}

li a {
    color: red;
}

li a[href="#"] {
    color: blue;
    border: 5px, solid, orange;
}
