body {
    background-color: grey;
}

div {
    background-color: blue;
    border: orange, 5px, dotted;
}

p {
    color: yellow;
}

span {
    background-color: red;
    color: black;
}
