.first_div {
    color: red;
}

.second_div {
    color: blue;
}

#single_out {
    color: green;
    text-decoration: line-through;
}

h3 + ul {
    border: 4px dotted purple;
}

li a {
    color: red;
}

li a[href="#"] {
    color: orange;
}